Getting weak encryption error for the token implementation

The below error I got while I try to run the server following your implementation:


**Caused by: io.jsonwebtoken.security.WeakKeyException: The specified key byte array is 224 bits which is not secure enough for any JWT HMAC-SHA algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HMAC-SHA algorithms MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the Jwts.SIG.HS256.key() builder (or HS384.key() or HS512.key()) to create a key guaranteed to be secure enough for your preferred HMAC-SHA algorithm.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.**

<img width="1415" height="257" alt="Image" src="https://github.com/user-attachments/assets/cae708ce-28b0-4161-b485-3ce862194186" />

<img width="1496" height="967" alt="Image" src="https://github.com/user-attachments/assets/57a9a3b7-fcfb-4126-a15f-3ba95493ccb3" />

bro this is a tutorial he is not going to respond and just google it dude